<h2>Games</h2>

<div class="games-grid">
  <% @games.each do |game| %>
    <div class="game">
      <%= link_to game, class: "poster" do %>
        <%= image_tag game.img_url %>
      <% end %>
    </div>
  <% end %>
</div>
