<!-- Game Grid-->
<div class="w3-row-padding">
  <% @games.each do |game| %>
    <div class="w3-third w3-container w3-margin-bottom">
      <%= link_to game do %>
        <%= image_tag game.img_url, class: "w3-hover-opacity game" %>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @games %>
</div>
