
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
      <div class="w3-col m6">
      <h3>ABOUT THE CREATER:</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-center">

        <a href="https://www.instagram.com/awanderlyss" target="_blank" class="w3-hover-white w3-hover-text-purple w3-show-inline-block w3-xxlarge"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/awanderlyss" target="_blank" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block w3-xxlarge"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/alyssa-felix" target="_blank" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block w3-xxlarge"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>


    <div class="w3-col m6">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>

  </div>
</footer>
