
<header class="w3-container" id="portfolio">
  <a href="#"><img src="/assets/img-placeholder.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <h1><b><i class="fi-torsos-all"></i> GamrBuddy</b></h1>
  <div class="w3-section w3-bottombar w3-padding-16">
    <%= link_to "Games", games_path, class: "w3-btn" %>
    <%= form_tag(games_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
      <%= submit_tag "Search", class: "w3-btn" %>
    <% end %>
  </div>
</header>
