<h1>
  <i class="fi-torsos-all"></i> GamrBuddy
</h1>
<nav>
  <%= link_to "Games", games_path %>

  <% if user_signed_in? %>

  <% end %>

  <div class="user-info">
      <%= link_to " Sign up", new_user_registration_path, :class => 'navbar-link fi-pencil'  %> |
      <%= link_to " Login", new_user_session_path, :class => 'navbar-link fi-power'  %>
  </div>
</nav>
